In [ ]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

# - A database is an organized collection of structured information, or data, typically stored electronically in a computer system.
# - SQL (Structured Query Language) Databases:
#   - Relational databases that use tables to store data.
#   - Data is structured in a predefined schema.
#   - Follows ACID properties (Atomicity, Consistency, Isolation, Durability).
#   - Examples: MySQL, PostgreSQL, Oracle, SQL Server.

# - NoSQL (Not Only SQL) Databases:
#   - Non-relational databases that can store unstructured or semi-structured data.
#   - Flexible schema, allowing for dynamic changes in data structure.
#   - Suitable for handling large volumes of data and distributed data storage.
#   - Examples: MongoDB, Cassandra, Redis, CouchDB.


# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

# - DDL (Data Definition Language) is a subset of SQL that deals with defining and modifying database structures like tables, indexes, and schemas.

# Examples:
# 1. CREATE: Used to create a new table or database.
#    Example: CREATE TABLE Students (ID INT, Name VARCHAR(100), Age INT);

# 2. DROP: Used to delete a table or database.
#    Example: DROP TABLE Students;

# 3. ALTER: Used to modify the structure of an existing table.
#    Example: ALTER TABLE Students ADD COLUMN Grade VARCHAR(2);

# 4. TRUNCATE: Used to remove all records from a table but keep the structure.
#    Example: TRUNCATE TABLE Students;


# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

# - DML (Data Manipulation Language) is a subset of SQL used for inserting, updating, and deleting data in a database.

# Examples:
# 1. INSERT: Used to insert new records into a table.
#    Example: INSERT INTO Students (ID, Name, Age) VALUES (1, 'John Doe', 20);

# 2. UPDATE: Used to modify existing records in a table.
#    Example: UPDATE Students SET Age = 21 WHERE ID = 1;

# 3. DELETE: Used to remove records from a table.
#    Example: DELETE FROM Students WHERE ID = 1;


# Q4. What is DQL? Explain SELECT with an example.

# - DQL (Data Query Language) is a subset of SQL used for querying data from a database.

# Example:
# SELECT: Used to retrieve data from a table.
# Example: SELECT Name, Age FROM Students WHERE Age > 18;


# Q5. Explain Primary Key and Foreign Key.

# - Primary Key:
#   - A unique identifier for each record in a table.
#   - Cannot contain NULL values.
#   - Ensures that each record in a table is unique.
#   - Example: In a Students table, the ID column can be a Primary Key.

# - Foreign Key:
#   - A field in one table that links to the Primary Key in another table.
#   - Establishes a relationship between two tables.
#   - Example: In an Enrollment table, the Student_ID column can be a Foreign Key referencing the ID column in the Students table.


# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

# Establishing the connection
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object
cursor = conn.cursor()

# cursor() method creates a cursor object that allows you to execute SQL queries on the database.
# execute() method is used to execute a single SQL query.

# Example:
cursor.execute("SELECT * FROM Students")

# Fetching and printing the result
result = cursor.fetchall()
for row in result:
    print(row)

# Closing the connection
conn.close()


# Q7. Give the order of execution of SQL clauses in an SQL query.

# The order of execution of SQL clauses is as follows:

# 1. FROM: The table(s) from which data is to be retrieved.
# 2. WHERE: Filters the rows based on the specified condition.
# 3. GROUP BY: Groups the rows that have the same values in specified columns.
# 4. HAVING: Filters the groups based on the specified condition.
# 5. SELECT: Selects the columns that are to be returned.
# 6. ORDER BY: Sorts the result set based on the specified columns.
# 7. LIMIT/OFFSET: Limits the number of rows returned or skips rows.

# Example:
# SELECT Name, COUNT(*) FROM Students WHERE Age > 18 GROUP BY Name HAVING COUNT(*) > 1 ORDER BY Name LIMIT 10;